*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenido{
  width: 90%;
  margin: 2% auto;
  border: 1px solid green;
}
.fila{
  width: 90%;
  margin: 2% 5%;
  border: 1px solid green;
  padding: 2%;
}
.container{
  height: 370px;
  display: inline-block;
  width: 31%;
  max-width: 1200px;
  border: 1px solid black;
  padding: 1%;
  margin: 0 1%;
}
.container:before,
.container:after{
  content: "";
  display: table;
}
.container:after{
  clear: both;
}
.row{
  margin: 3% 0;
}
.row:before,
.row:after{
  content: "";
  display: table;
}
.row:after{
  clear: both;
}
[class*="col-"]{
  min-height: 100px;
  float: left;
}
.col-1{
  width: 8.333%;
}
.col-2{
  width: 16.666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333%;
}
.col-5{
  width: 41.666%;
}
.col-8{
  width: 66.666%;
}
.col-12{
  width: 100%;
}
.primero .col-3{
  margin: 0 0 0 6%;
  background-color: grey;
}
.container.segundo{
  padding: 1.45%;
}
.segundo .col-12{
  height: 213px;
  background-color: grey;
  margin: 0 0 3% 0;
}
.segundo .col-3{
  background-color: lightgrey;
}
.tercero .row-1{
  margin: 3% 0;
  padding: 0 6%;
}

.tercero .col-12{
  height: 100px;
  background-color: grey;
}
.tercero .col-3{
  height: 200px;
  background-color: lightgrey;
  margin: 0 0 0 6.5%;
}
.cuarto .col-8{
  background-color: grey;
}
.cuarto .row-1{
  margin: 0 0 0 6%;
}
.cuarto .row-1 .col-3{
  background-color: grey;
  float: right;
}
.cuarto .col-3{
  background-color: lightgrey;
}
.cuarto .row-2{
  height: 100px;
}

.cuarto .row-3 .col-3{
  float: right;
}
