*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0 1%;
}
.container{
  display: inline-block;
  width: 30%;
  max-width: 1200px;
  margin: 1% auto;
  border: 1px solid black;
  padding: 1%;
}
.container:before,
.container:after{
  content: "";
  display: table;
}
.container:after{
  clear: both;
}

.row:before,
.row:after{
  content: "";
  display: table;
}
.row:after{
  clear: both;
}
[class*="col-"]{
  min-height: 100px;
  float: left;
}
.col-1{
  width: 8.333%;
}
.col-2{
  width: 16.666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333%;
}
.col-5{
  width: 41.666%;
}
.col-12{
  width: 100%;
}
.primero .col-3{
  margin: 1% 0 1% 6%;
  background-color: grey;
}
.container.segundo{
  padding: 1.45%;
}
.segundo .col-12{
  height: 200px;
  background-color: grey;
  margin: 0 0 3% 0;
}
.segundo .col-3{
  background-color: lightgrey;
}
